<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='incorrect.css') }}">
    <title>Error | Uttarakhand Police</title>
</head>
<body>
    <section class="home">
        <div class="main_container">
            <div class="image">
                <img src="rocket.jpg" alt="">
            </div>

            <div class="message">
                <h1>Access Denied</h1>
                <h2>Login with an authorized username and password</h2>
         
                <a href="index.html"><button onclick="index.html" id="signin_btn">Sign in</button></a>
            </div>
        </div>
    </section>
</body>
</html>