<html>
   <body>
      <form action = "http://iot.ccnet.in:1313/uploader/cdr" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" >CDR</input>
         <input type = "submit"/>
      </form><br>
      <form action = "http://iot.ccnet.in:1313/uploader/thana" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" >Thana</input>
         <input type = "submit"/>
      </form><br>
      <form action = "http://iot.ccnet.in:1313/uploader/bankacc" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" >Bank Acc</input>
         <input type = "submit"/>
      </form><br>
      <form action = "http://iot.ccnet.in:1313/uploader/cgi" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" >CGI</input>
         <input type = "submit"/>
      </form><br>
      <form action = "http://iot.ccnet.in:1313/uploader/fir" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" >FIR</input>
         <input type = "submit"/>
      </form><br>
      <form action = "http://iot.ccnet.in:1313/uploader/thanalist" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" >Thana List</input>
         <input type = "submit"/>
      </form>
   </body>
</html>